{% extends "layout.html" %}

{% block content %}

<h2><a href="{{ url_for('dash') }}">Dashboard</a> -> {{ title }}.</h2>



<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.customer_id.label }}<br>
        {{ form.customer_id(size=32) }}<br>
        {% for error in form.customer_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <input type="submit" value="Add Job">
    </p>
</form>

    {% endblock %}
