{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Dashboard: </h1>
</div>

<div class="container">
    <h2>Customer</h2>
    <p><a class="btn btn-default" href="{{ url_for('add_customer') }}">Add Customer &raquo;</a></p>
    <p><a class="btn btn-default" href="{{ url_for('view_all_customers') }}">View Customers &raquo;</a></p>
</div>

<div class="container">
    <h2>Jobs</h2>
    <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Add Job &raquo;</a></p>
    <p><a class="btn btn-default" href="https://pypi.python.org/pypi">View Job &raquo;</a></p>
</div>

<div class="container">
    <h2>Invoicing</h2>
    <p><a class="btn btn-default" href="http://azure.microsoft.com">Add Invoice &raquo;</a></p>
    <p><a class="btn btn-default" href="http://azure.microsoft.com">View Invoice &raquo;</a></p>
</div>

<div class="container">
    <h2>Contracts</h2>
    <p><a class="btn btn-default" href="http://www.sqlalchemy.org/">Add Contract &raquo;</a></p>
    <p><a class="btn btn-default" href="http://www.sqlalchemy.org/">View Contract &raquo;</a></p>
</div>

<div class="container">
    <h2>Reports</h2>
    <p><a class="btn btn-default" href="http://www.sqlalchemy.org/">View Reports &raquo;</a></p>
</div>

{% endblock %}
