{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>C B Plumbing</h1>
    <p class="lead">Welcome! I am a fully qualified Plumbing and Heating Engineer based within Belper and across Derbyshire. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Boiler Installations</h2>
        <p>
            A short description of installing Boilers
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Link to page about &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Central Heating Upgrades</h2>
        <p>A short description of installing central heating</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Link to page about &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Boiler Servicing</h2>
        <p>Annual Servicing!</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
