{% extends "layout.html" %}

{% block content %}

<h2> <a href="{{ url_for('view_all_customers') }} "> {{ title }} </a> -> {{ subtitle }} </h2>


<p>Customer ID: {{ customer.id}}</p>
<p>First Name: {{ customer.first_name }}</p>
<p>Last Name: {{ customer.last_name }}</p>
<p>Address: {{ customer.first_line_address }}</p>
<p>{{ customer.second_line_address }}</p>
<p>{{ customer.city }}</p>
<p>{{ customer.county }}</p>
<p>{{ customer.postal_code }}</p>
<p>Phone: {{ customer.phone }}</p>
<p>Email: {{ customer.email }} </p>
<p>Referal Type: {{ customer.referal }}</p>


{% endblock %}