{% extends "layout.html" %}


{% block content %}

<h2> {{ title }} </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>First Line Address</th>
            <th>Second Line Address</th>
            <th>City</th>
            <th>County</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.first_line_address }}</td>
            <td>{{ customer.second_line_address }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.county }}</td>
            <td>{{ customer.postal_code }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }} </td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}