{% extends "layout.html" %}

{% block content %}

<h2 class="title-card"><a href="{{ url_for('dash') }}">Dashboard</a> ->  <a href="{{ url_for('view_all_customers') }}"> {{ title }} </a> -> {{ subtitle }} </h2>


<div class="title-card">
    <h3 class="title-card"> Customer ID: {{ customer.id }} </h3>

    <div class="customer-card">
        <p><strong>First Name: </strong>{{ customer.first_name }}</p>
        <p><strong>Last Name: </strong>{{ customer.last_name }}</p>
        <p><strong>Address: </strong>{{ customer.first_line_address }}</p>
        <p><strong>Address Line 2: </strong>{{ customer.second_line_address }}</p>
        <p><strong>City: </strong>{{ customer.city }}</p>
        <p><strong>County: </strong>{{ customer.county }}</p>
        <p><strong>Postal Code: </strong>{{ customer.postal_code }}</p>
        <p><strong>Phone: </strong>{{ customer.phone }}</p>
        <p><strong>Email: </strong>{{ customer.email }}</p>
        <p><strong>Referral Type: </strong>{{ customer.referal }}</p>
        <p><strong>Customer Status: {{customer.customer_active}} </strong></p>
    </div>

    <div>
        <a class="btn btn-default" href="{{ url_for('view_all_customers') }}">&laquo; Back to All Customers</a>
        <a class="btn btn-primary" href="{{ url_for('edit_customer', customer_id=customer.id) }} ">Edit Customer &raquo;</a>
    </div>
</div>

{% endblock %}